/* src/index.css */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 禁止滾動 */
  height: 100%;
  width: 100%;
}
